:root{
    --font-family: 'Be Vietnam', sans-serif;
    --text-color: #222;
}

body{
    color: var(--text-color);
    font-family: var(--font-family);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-right: 10px;
}