:root{
    --font-family: 'Be Vietnam', sans-serif;
    --text-color: #222;
}

body{
    color: var(--text-color);
    font-family: var(--font-family);
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    margin-right: 10px;
}

.navbar >ul{
    display: flex;
}

.navbar ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
}

.btn{
   height: 8vh;
   width: 20vw;
}